/* Editlist.css */


.editlist{
  background-color: #F0F0FE;
  display: flex;
  flex-direction: row;
  flex: 1;
  }

  .editlist-header {
    color: #0b0b0b;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    top: 0px;
    left: 0px;
    white-space: nowrap;
  }
  
  .right-container {
    background-color: #F0F0FE;
    position: relative;
    flex: 1;
    height: 110vh;
    padding-left:300px;
  }
  

  .list-container {
    display: flex;
    justify-content: space-between;
  }
  
  .list {
    width: 48%;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .list h3 {
    color: #3498db;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 30px;
    margin-bottom: 5px;
  }
  
  .add-chore-container {
    margin-top: 20px;
    text-align: center;
  }
  
  input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 30px;
  }
  
  .add-chore-button {
    padding: 10px 15px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 30px;
  }
  
  .add-chore-button:hover {
    background-color: #218c53;
  }