/* styles.css */

.link {
    color: #000000; 
    font-size: 18px; 
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 500;
  }

.sidebar {
    width: 250px;
    background-color: #F0F0FE; 
    padding: 20px;
    z-index: 1;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .sidebar a.active {
    background-color: rgba(6, 9, 96, 0.09);
    border-radius: 10px;
    color: #060960;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 700;
    word-wrap: break-word;
  }

   /* separates side bar*/
   .rectangle {
    background-color: #eaeaea;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
  }
  
  .rectangle-2 {
    background-color: #f7f7f7;
    height: 1024px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 3px;
  }